<div class="container main-section">
	<div class="col-md-12 right-sidebar">
		<div class="row">
			<div class="col-md-12 right-header">
				<mat-toolbar>
					<app-header></app-header>
				</mat-toolbar>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 right-header-contentChat" id="chatboard">
				<ul>
					<li *ngFor="let message of messages">
						<div class="{{isMe(message.userID)}}">
							<span>
								<img src="{{getAvatar(message.userID)}}"/>
								<i class="fa fa-circle" aria-hidden="true"></i> {{message.userName}}
								<!-- <small>10:00 AM,Today</small> -->
							</span>
							<br>
							<br>
							<p>{{message.message}}</p>
						</div>
					</li>
				</ul>
				{{scrollToBottom()}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 right-chat-textbox">
				<input [(ngModel)]="inpuntMsg" (keypress)="onKey($event)" type="text">
				<button (click)="sendMessage()" >
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
</div>