<div class="container login-form">
  <div class="row justify-content-center">
    <div class="col-6">
      <form [formGroup]="changePassForm">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Change PassWord</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <input formControlName="oldPassword" matInput placeholder="Enter your old password" [type]="ohide ? 'text' : 'password' ">
              <mat-icon matSuffix (click)="ohide = !ohide">{{ohide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="newPassword" matInput placeholder="Enter your new password" [type]="nhide ? 'text' : 'password' ">
              <mat-icon matSuffix (click)="nhide = !nhide">{{nhide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <div class="row justify-content-center">
              <button mat-raised-button color="primary" (click)="onChangePass()">Change PassWord</button>
              <button mat-raised-button color="accent" type="submit" (click)="onCancel()" >Cancel</button>              
            </div>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>