<div class="container login-form">
  <div class="row justify-content-center">
    <div class="col-6">
      <form [formGroup]="loginForm">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Login</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <input formControlName="useremail" type="email" matInput placeholder="User Email">
              <app-error-message *ngIf="isSubmited" class="full-width" [controlName]="useremail" [control]="appForm.controls['username']"></app-error-message>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="password" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <div class="row justify-content-center">
              <button mat-raised-button type="submit" (click)="onLogin(loginForm.value)" color="primary">Login</button>
              <button mat-raised-button color="accent" (click)="onRegister()">Create an account</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>