<div style="width: 100%;">
    <div style="float: right;"></div>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="header-tipbtn">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu x-position="after" #menu="matMenu">
        <button mat-menu-item (click)="logOut()">
            <mat-icon>home</mat-icon>
            <span>Log Out</span>
        </button>
        <button mat-menu-item (click)="changePass()">
            <mat-icon>settings</mat-icon>
            <span>Change Password</span>
        </button>
    </mat-menu>
</div>