<div class="container sign-form">
  <div class="row justify-content-center">
    <div class="col-6">
      <form [formGroup]="signForm">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Sign Up</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!-- user Name field -->
            <mat-form-field>
              <input formControlName="username" type="text" matInput placeholder="User Name">
              <app-error-message *ngIf="isSubmited" class="full-width" [controlName]="username" [control]="appForm.controls['username']"></app-error-message>
            </mat-form-field>
            <!-- user email field -->
            <mat-form-field>
              <input formControlName="email" type="email" matInput placeholder="User Email">
              <app-error-message *ngIf="isSubmited" class="full-width" [controlName]="email" [control]="appForm.controls['email']"></app-error-message>
            </mat-form-field>
            <!-- user password field -->
            <mat-form-field>
              <input formControlName="password" matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <!-- user confirm field -->
            <mat-form-field>
              <input formControlName="confirmpassword" matInput placeholder="Confirm Password" [type]="chide ? 'text' : 'password'">
              <mat-icon matSuffix (click)="chide = !chide">{{chide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <div class="row justify-content-center"> 
              <button mat-raised-button color="accent" (click)="onRegister(signForm.value)">Create an account</button>
              <button mat-raised-button type="submit" (click)="onLogin()" color="primary">Login</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>